.body-login {
    margin: 0;
    padding: 0;
    background-image: url(../../assets/Images/login-register.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.form-login {
    width: 400px;
    height: 420px;
    color: #333;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 50px 60px;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 50px;
}

.form-login input {
    display: flex;
    width: 280px;
    height: 35px;
    margin-bottom: 15px;
    opacity: 0.5;
    border-radius: 10px;
    padding-left: 10px;
}


.btn-login {
    width: 280px;
    border-radius: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none !important;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: black;
}

.or {
    text-align: center !important;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 40px;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 5%;
}

.fa-facebook {
    font-size: 3rem;
    color: #0032d1;
    margin-left: 10%;
    cursor: pointer;
}

.fa-google-plus {
    font-size: 3rem;
    color: #e31305;
    float: right;
    margin-right: 10%;
    cursor: pointer;
}

.btn.btn-danger.save{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tab-pane{
    .table-custom{  
        div.btn.btn-danger.addition{
            position: relative;
            left: 43%;
            margin-bottom: 30px;
            border-radius: 15px;
            width: 100px;
        }
    }

    .table-job{
        width: 100%;
        height: 570px;
        box-shadow: 0 0 10px 3px lightblue;
        background-color: #fdfdfd;
        margin-top: 30px;
       /*  display: block;
        margin-left: auto;
        margin-right: auto; */
        color: #f8fbff;
        padding: 15px;

        .wrapper-button-job{
            position: relative;
            display: flex;
            align-items: center ;
            justify-content: center;
            margin-left: 10px;
            .button-job{
                border: 2px solid black;
                border-radius: 10px;
                margin-right: 20px;
                margin-top: 10px;
                padding: 5px;
                color: #fff;
                font-weight: 300;
                background-color: #151426;
                box-shadow: 0 0 10px 5px rgb(74, 104, 87);
                cursor: pointer;
            }
            .button-job:hover{
                color: #f8fbff;
                font-weight: 300;
                box-shadow: 0 0 10px 5px #c23564;
            }
            .active-button{
                box-shadow: 0 0 10px 5px #c23564;
            }
        }

        .wrapper-tablejob {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 40px;
            overflow-x: auto;
            
            .tablejob-1{
                display: block;
                width: 1100px;
                margin-left: auto;
                margin-right: auto;

            }

            .tablejob-2{
                display: block;
                width: 1100px;
                margin-left: auto;
                margin-right: auto;
                table.table.table-striped tbody td td{
                    background-color: red !important;
                }
            }
        }
        
    }
    .history-job{
        width: 100%;
        height: 570px;
        box-shadow: 0 0 10px 3px lightblue;
        background-color: #fdfdfd;
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        color: #f8fbff;
        padding: 30px;
        
        .history-wrapper{
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            overflow-x: auto;

            .history-table{
                display: block;
                width: 1100px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .center {
        text-align: center;
        position: fixed;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        user-select: none !important;
      }
      
      .pagination {
        display: inline-block;
        
        
      }
      
      .pagination div {
        color: #0d6efd;
        float: left;
        padding: 5px 10px;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        border-radius: 10px;
        cursor: pointer;
      }
      .pagination div:hover:not(.active) {background-color: #ddd;}
      .pagination div.active {
        background-color: #0d6efd;
        color: white;
        border: 1px solid #0d6efd;
      }

}
table thead tr{
    background-color: #282c34;
    
}
table thead tr th{
    color: #ffff !important;
    text-align: center;
}
table tbody tr:hover{
   box-shadow: 0 0 10px 2px black;
}
table tbody tr td{
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}
.icon-accept{
    font-size: 20px;
    color:aqua;
    cursor: pointer;
    background-color: #323048;
    
}
.icon-add{
    font-size: 20px;
    color:cyan;
    background-color: #323048;
    margin-right: 5px;
    cursor: pointer;
}
.icon-delete{
    font-size: 20px;
    color: #e63946;
    background-color: #323048;
    margin-right: 5px;
    cursor: pointer;
}
.icon-edit{
    font-size: 20px;
    color: #ffc6ff;
    background-color: #323048;
    cursor: pointer;
}
.icon-see{
    font-size: 20px;
    color: #70e000;
    margin-left: 8px;
    background-color: #323048;
    cursor: pointer;
}
.icon-accept:hover{
    transform: scale(1.4);

}
.icon-add:hover{
    transform: scale(1.4);

}
.icon-delete:hover{
    transform: scale(1.4);

}
.icon-edit:hover{
    transform: scale(1.4);

}
.icon-refuse:hover{
    transform: scale(1.4);
}
.icon-see:hover{
    transform: scale(1.4);
}
.container-add-job{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: none;

    .wrapper-add-job{
        position: relative;
        top:30%;
        left:43%;
        width: 400px;
        height: 400px;
        background-color: #141529;
        box-shadow: 0 0 10px 5px #c23564;
        color: #f8fbff;

        .add-job{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            
            div{
                text-align: center;
                margin: 0 0px;
                padding: 5px 10px;
                div{
                    border: 2px solid #c23564;
                    border-radius: 10px;
                    
                    cursor: pointer;
                }
                div:hover{
                    background-color: #fdfdfd;
                    color: #151426;
                    border: 2px solid black;
                    box-shadow: 0 0 10px 2px lightblue;
                }
                .active{
                    background-color: #fdfdfd;
                    color: #151426;
                    border: 2px solid black;
                    box-shadow: 0 0 10px 2px lightblue;
                }
            }
            .hola{
                .Price{
                    margin-top: 20px;
                    padding-left: 5px;
                    width: 100%;
                }
                .Add{
                    margin-top: 40px;
                    padding: 5px 10px;
                    width: 50%;
                    border-radius: 30px;
                    background-color: #c23564;
                    border: 2px solid #c23564;
                    color: white;
                }
                .Add:hover{
                    filter: brightness(1.2);
                }
            }
        }

        .icon{
            margin-left: 91%;
            margin-top: 3%;
            margin-bottom: 5%;
            font-size: 18px;
            box-shadow: 0 0 10px 2px lightblue;
            border-radius: 10px;
            background-color: white;
            color: black; 
            cursor: pointer;
        }

        .icon:hover{
            transform: scale(1.3);
            color: red
        }
        
    }
}

.form-container{
    display: none;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    color: black;
    z-index: 1;
    .form-wrapper{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        height: auto;
        background-color: white;
        padding: 10px;
        border-radius: 10px;

        .form-header{
            .label{
                text-align: center;
                font-size: 2rem;
                font-family:cursive
            }
            .icon{
                position: absolute;
                top: 3%;
                left: 95%;
                //transform: translate(-50%,-50%);
                font-size: 1.2rem;
                box-shadow: 0 0 10px 2px #303134;
                border-radius: 20px;
                cursor: pointer;
            }
            .icon:hover{
                color: #dc3545;
                background-color: #303134;
                transform: scale(1.2);
            }
            .content{
                margin-top: 10px;
                font-family:cursive;
                font-size: 1.2rem;
                .table.table-striped{
                    margin-top: 10px !important;
                    width: 100%;
                }
                .table.table-striped thead tr th{
                    text-align: center;
                    padding: 5px
                }
                .table.table-striped tbody tr td{
                    text-align: center;
                    padding: 5px
                }
                button.nhanviec{
                    margin-top:10px ;
                    margin-bottom:10px ;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: #303134;
                    border: 1px solid #303134;
                    color: #f8fbff;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                button.nhanviec:hover{
                    color:aquamarine
                }
            }
        }
    }
}




@media only screen and (max-width: 739px){
    .tabs{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-left: -6%;
    }
    .tab-content{
        .tab-pane{
            .table-custom{
                .btn.btn-danger.addition{
                    margin-left: -9%;
                }
            }
            .row{
                div.col-md-12{
                    padding: 0rem !important;
                    .review-form{
                        .area-review{
                            width: 286px;
                        }
                    }
                }
            }

            .table-job{
                width: 350px;
                margin-left: -10.4%;

                .wrapper-button-job{
                    font-size: 14px;
                    .button-job{
                        margin-right: 15px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .container-add-job{
        .wrapper-add-job{
            left:10%;
            top:17%;
            
        }
    }
}