/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&display=swap');.topnav {
    background-color: #333 ;
    overflow: hidden;
  }
$color-a-nav: #61DAFB;
  .topnav{
    min-height: 50px;

    .container-wrapper-image{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: flex-end;
      margin-right: 40px;

      .wrapper-image{
        position: relative;
        .img{
          border-radius: 50%;
          width: 40px;
          height: 40px;
          position: relative;
          cursor: pointer;
        }
      }

      .wrapper-image:hover::before{
        content: "";
        position: absolute;
        top:-5px;
        left:-5px;
        background: linear-gradient(45deg, crimson, lightsalmon, gold, 
        seagreen, midnightblue, indigo, violet, white);
        background-size: 400%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: avatar 5s linear infinite
      }
      @keyframes avatar {
        0%{
          background-position: 0 0 ;
        }
        50%{
            background-position: 100% 400% ;
        }
        100%{
            background-position: 0 0 ;
        }
      }
    }
  }

  .wrapper-profile{
    display: none;
    position: absolute;
    right: 2%;
    top: 6%;
    width: 350px;
    height: 500px;
    background-color: #303134;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px lightblue;

    padding: 20px 0 ;
    //background-color: #202124;

    .profile{
      margin-top: 10px;
      text-align: center;
      img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      .profile-head{
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #6e6970;
        border-bottom-width: 0.1mm;
      }

    }
    .wrapper-setting-profile{
      display: flex;
      justify-items: center;
      align-content: center;
      padding: 32px;
      .setting-profile{
        border: 1px solid #6e6970 ;
        padding: 10px 20px;
        background-color: #303134;
        color: #f2f2f2;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
      }
      .setting-profile:hover{
        filter: brightness(1.2);
      }
    }

  }

  .table-chinhSua{
    display: none;
    position:fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.4);

    .chinhSua{
        position: relative;
        top:28%;
        width: 700px;
        height: auto;
        background-color: #141529;
        margin: auto;
        border-radius: 20px;
        padding: 20px;
        font-family: cursive;

        .close-icon{
            position: absolute;
            left: 95%;
            bottom: 95%;
            font-size: 20px;
            cursor: pointer;
        }

        .close-icon:hover{
            transform: scale(1.5);
            box-shadow: 0 0 10px 2px lightblue;
            border-radius: 20px;
        }

        .form-information{
            display: flex;
            flex-direction: column;
            align-content: space-between;
            height: 100%;
            input{
                margin: 10px 0px;
                width: 100%;
                border: 2px solid #323048;
                border-radius: 20px;
                background-color: #141529;
                color: white;
                padding: 0px 10px;
                height: 40px;
            }
        }

        button.btn.btn-danger{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            margin-top: 20px;
            border-radius: 20px;
        }
        
    }
}













  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Barlow Condensed', sans-serif;
  }
  .topnav a.login{
    float:right;
    margin-right: 30px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: $color-a-nav;
    color: black;
    border-radius: 10px;
  }
  
  /* Add a color to the active/current link */
/*   .topnav a.active {
    background-color: $color-a-nav;
    color: #333;
    border-radius: 10px;
  } */

  /* The dropdown container */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Barlow Condensed', sans-serif;;
  margin: 0; 
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: $color-a-nav;
  color: black;
  border-radius: 10px;
}


.dropdown-content {
  display: none;
  background-color: lightblue;
  position: absolute;
  left: 8%;
  top: 5.8%;
  z-index: 1000;
  width: 180px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  .abcxyz{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.drop:hover .dropdown-content{
  display: block;
  
}

.login{
  float:right;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){

}
/* Table: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 63.9375em){

}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {

}